<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Compress images and photos for displaying on web pages, sharing on social networks or sending by email.">

    <!-- site metas -->

    <title>CAGEPRESS Online Sıkıştırma</title>
    <link rel="shortcut icon" href="/kafes.ico" type="image/x-icon" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    <style type="text/css">
        @font-face {
            font-family: opensans;
            src: url(text/Pokemon\ Solid.ttf)format("truetype");


        }
    </style>
</head>
<!-- body -->

<body class="main-layout">

    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">

                                    <div class="logo">
                                        <a href="index.html" style="display:flex ;align-items: center; "><img
                                                src="/images/CAGEPRESS.png" alt="#" /></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">

                            <ul class="top_icon">



                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->

            <!-- end header -->
            <section class="slider_section">
                <div class="banner_main">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 padding_left0">
                                <div class="menu-area">
                                    <div class="limit-box">
                                        <nav class="main-menu">
                                            <ul class="menu-area-main">
                                                <li class="active">
                                                    <a href="#game" style="font-family: opensans;">Baslangıc</a>
                                                </li>
                                                <li> <a href="#sıkıstır" style="font-family: opensans;">Sıkıstırma</a>
                                                </li>
                                                <li> <a href="#bilgi" style="font-family: opensans;">Bilgilendirme</a>
                                                </li>
                                                <li> <a href="#media" style="font-family: opensans;">YOUTUBE/GİTHUB </a>
                                                </li>
                                                <li> <a href="#contact" style="font-family: opensans;">Ekip</a> </li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="text-bg">
                                    <h1>CAGEPRESS<br> Sıkıştırma</h1>
                                    <span>Bu online resim boyutu küçültme sitesi istenen kalite seviyesini korurken
                                        JPEG,PNG,GIF ve WebP resim dosyalarını mümkün olan en küçük boyuta küçültmek
                                        için en iyi optimizasyon ve kayıplı sıkıştırma algoritmalarının akıllı bir
                                        kombinasyonunu kullanır</span>
                                    <a href="#sıkıstır">Git</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                                <div class="text-img">
                                    <figure><img src="images/img.png" alt="#" /></figure>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </section>
        </div>
    </header>


    <!-- We are -->
    <div id="sıkıstır" class="We_are">
        <div class="container">
            <h3>Resim Sıkıştırma</h3>
            <hr>
            <div id="app">
                <div class="card bg-light mb-4" @change="change" @dragover="dragover" @drop="drop">
                    <div class="card-body">
                        <div class="p-5 text-center">Dosyayı sürükle veya <input type="file" id="file"
                                accept="image/jpeg,image/jpg,image/jpe,image/png,image/gif,image/webp,image/bmp,image/tiff"
                                ref="input"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mb-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="card-title">Giriş (Orjinal)</h3>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4 d-flex">
                                        <div class="w-100 text-center" v-if="inputURL">
                                            <img class="mw-100" :src="inputURL" :alt="input.name">
                                        </div>
                                        <div v-else class="w-100 bg-light"></div>
                                    </div>
                                    <div class="col-md-8">
                                        <dl class="row">

                                            <dt class="col-sm-5">Boyut:</dt>
                                            <dd class="col-sm-7">{{ input.size | prettySize }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Çıkış (Sıkıştırılmış)</h3>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4 d-flex justify-content-center">
                                        <div class="w-100 text-center" v-if="outputURL">
                                            <img class="mw-100" :src="outputURL" :alt="output.name">
                                            <div class="mt-2">
                                                <a class="btn btn-sm btn-blocks btn-outline-primary mt-2"
                                                    :download="output.name" :href="outputURL"
                                                    title="Download the compressed image">Tıkla İndir</a>
                                            </div>
                                        </div>
                                        <div v-else class="w-100 bg-light"></div>
                                    </div>
                                    <div class="col-md-8">
                                        <dl class="row">

                                            <dt class="col-sm-5">Boyut:</dt>
                                            <dd class="col-sm-7">{{ output.size | prettySize }}
                                                <span v-if="output.size">({{ ((1 - (output.size / input.size)) *
                                                    100).toFixed(2) }}% off)</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end We are -->
    <!-- our -->
    <div id="bilgi" class="our">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Bilgilendirme</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin_bottom">
                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="two-box">
                                <figure><img src="images/JPEG.png" alt="#" /></figure>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                            <div class="Games">
                                <h3>JPEG</h3>
                                <p>JPEG, Joint Photographic Experts Group (Birleşik Fotoğraf Uzmanları Grubu) tarafından
                                    standartlaştırılmış bir sayısal görüntü kodlama biçimidir. Bu biçim, 1994 yılında
                                    ISO 10918-1 adıyla standartlaşmıştır. </p>
                                <a href="https://tr.wikipedia.org/wiki/JPEG " target="_blank">wikipedia</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="two-box">
                                <figure><img src="images/PNG.png" alt="#" /></figure>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                            <div class="Games">
                                <h3>PNG</h3>
                                <p>PNG, "Taşınabilir Ağ Grafiği" anlamındaki (Portable Network Graphics) 'in
                                    kısaltmasıdır ve kayıpsız sıkıştırarak görüntü saklamak için kullanılan bir saklama
                                    biçimidir.</p>
                                <a href="https://tr.wikipedia.org/wiki/Portable_Network_Graphics"
                                    target="_blank">wikipedia</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="two-box">
                                <figure><img src="images/GIF.png" alt="#" /></figure>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                            <div class="Games">
                                <h3>GIF</h3>
                                <p>GIF, İngilizce Grafik Değiştirme Biçimi anlamına gelen Graphics Interchange Formatin
                                    kısaltmasıdır ve bir sayısal resim saklama biçimidir.</p>
                                <a href="https://tr.wikipedia.org/wiki/Graphics_Interchange_Format"
                                    target="_blank">wikipedia</a>
                            </div>

                        </div>


                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <div class="two-box">
                                        <figure><img src="images/webP.png" alt="#" /></figure>
                                    </div>
                                </div>

                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                                    <div class="Games">
                                        <h3>WebP</h3>
                                        <p>Webp, PNG ya da JPEG’den daha küçük boyutlu,
                                            daha zengin, yüksek çözünürlüklü ve kaliteli görüntü sunan bir biçimdir.
                                        </p>
                                        <a href="https://tr.wikipedia.org/wiki/WebP" target="_blank">wikipedia</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end our -->

            <!-- about  -->
            <div id="about" class="about">
                <div id="media" class=" container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="titlepage">
                                <h2>Youtube</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-box">
                                <div><iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/videoseries?list=PL3t1Ps0xo50fcSMoZZzfau_TIMFa41kRh"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>



                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="titlepage">
                                <h2>GITHUB</h2>
                                <a target="_blank" a href="https://github.com/XCode-Company/compression-algorithms">>
                                    <img src="/images/git.png"></a>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-box">
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end abouts -->

        <!-- testimonial -->
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>Ekip</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 offset-md-2">
                        <div class="row box">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                <div class="testimonial_box">
                                    <h2>Can Balaman</h2>
                                    <figure><img src="images/can.png" alt="#" /></figure>

                                    <div>

                                        <a href="https://www.linkedin.com/in/can-balaman-8714b1181/">
                                            <img src="/images/git1.png" alt="" width="70" height=" 70">
                                            <a href="https://www.linkedin.com/in/can-balaman-8714b1181/">
                                                <img src="/images/link.png" alt="" width="70" height=" 70">


                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="testimonial_box">
                                    <h2>M.Emin Saygı</h2>
                                    <figure><img src="images/emin.jpg" width="300 " height="300" alt="#" /></figure>
                                    <div>
                                        <a href="https://www.linkedin.com/in/can-balaman-8714b1181/">
                                            <img src="/images/git1.png" alt="" width="70" height=" 70">
                                            <a href="https://www.linkedin.com/in/can-balaman-8714b1181/">
                                                <img src="/images/link.png" alt="" width="70" height=" 70">
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                <div class="testimonial_box">
                                    <h2>Gürkan Şentürk</h2>
                                    <figure><img src="images/gurkan.png" alt="#" /></figure>
                                    <div>
                                        <a href="https://www.linkedin.com/in/can-balaman-8714b1181/">
                                            <img src="/images/git1.png" alt="" width="70" height=" 70">
                                            <a href="https://www.linkedin.com/in/can-balaman-8714b1181/">
                                                <img src="/images/link.png" alt="" width="70" height=" 70">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="contact" class="clients_box">
                            <br>






                            <br> <br> <br>
                            <br> <br> <br>
                            <br> <br> <br>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- end testimonial -->



        <footer class="text-center text-white" style="background-color: #f1f1f1;">
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <a class="text-dark" href="http://cagepress.tech/">CAGEPRESS</a>
            </div>
            <!-- Copyright -->
        </footer>

        <!-- Javascript files-->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery-3.0.0.min.js"></script>
        <script src="js/plugin.js"></script>
        <!-- sidebar -->
        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/image-compressor.js"></script>
</body>

</html>