html{
    background-color:burlywood
}
#navbar{
    margin: 0 auto;
    padding: 1rem;
    color: white;
}

#logo-comment
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
padding: 1rem;
border-bottom: 1px solid grey ;
}
#logo-comment img
{
    max-width: 100%;
    height: 400p;
    border-radius: 100%;
}
#logo-comment h5 span
{
    color: brown;
}
.buttons button{
    margin-top: 1.25rem;
    background: #336ea2;
    padding-left: 1rem;
    border-radius: 8px;
    letter-spacing: 0.5px;
}
#download{
    width: 100px;
    height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    justify-content: center;
    align-items: center;
}

